body{
    background-color:#595959;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-decoration: none;
    font-size: 50px;
}
li{
    background-color: #515254;
    height: 150px;
    color: #8e8f91;
    padding: 0;
    margin: 0;
    float: right;
}
li a {
    display: block;
    color: #008C99;
    padding: 0;
    margin: 0;
    color: #fafafa;
}
li.active {
    background-color: #008C99;
    color: #fafafa;
}

/* Change the link color on hover */
li a:hover {
    background-color: #008C99;
    color: #fafafa;
    margin: 0;
    padding: 0;
    height: 150px;
    text-decoration: none;
}
a{
    width: 50%;
    float: right;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 45px;
}
.glyphicon-user-large{
    float: left;
    padding-top: 45px;
    width: 100px;
    height: auto;
}
.main{
    margin: 200px 0;
}
.menu {
    height: 75vh;
    background-color: #fafafa;
    padding: 0;
}
.content{
    height: auto;
    background-color: #fafafa;
    margin: 0 45px;
}
#me{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}